-- MySQL dump 10.13  Distrib 8.3.0, for Win64 (x86_64)
--
-- Host: localhost    Database: mis
-- ------------------------------------------------------
-- Server version	8.3.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `academic`
--

DROP TABLE IF EXISTS `academic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `academic` (
  `academic_year` varchar(11) NOT NULL,
  `first_semi_start_date` date NOT NULL,
  `first_semi_end_date` date NOT NULL,
  `second_semi_start_date` date NOT NULL,
  `second_semi_end_date` date NOT NULL,
  `academic_year_status` enum('Active','Completed') NOT NULL DEFAULT 'Active',
  PRIMARY KEY (`academic_year`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `assessments`
--

DROP TABLE IF EXISTS `assessments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assessments` (
  `assessment_id` int NOT NULL AUTO_INCREMENT,
  `assessment_type_id` int NOT NULL,
  `course_id` varchar(20) NOT NULL,
  `module_id` varchar(11) NOT NULL,
  `academic_year` varchar(11) NOT NULL,
  `assessment_date` date NOT NULL,
  PRIMARY KEY (`assessment_id`),
  KEY `assessment_type_id` (`assessment_type_id`),
  KEY `academy_year` (`academic_year`),
  KEY `course_name` (`course_id`),
  KEY `assessment_type_id_2` (`assessment_type_id`),
  KEY `module_id` (`module_id`),
  CONSTRAINT `assessments_ibfk_1` FOREIGN KEY (`academic_year`) REFERENCES `academic` (`academic_year`) ON UPDATE CASCADE,
  CONSTRAINT `assessments_ibfk_2` FOREIGN KEY (`course_id`) REFERENCES `course` (`course_id`) ON UPDATE CASCADE,
  CONSTRAINT `assessments_ibfk_3` FOREIGN KEY (`assessment_type_id`) REFERENCES `assessments_type` (`assessment_type_id`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `assessments_marks`
--

DROP TABLE IF EXISTS `assessments_marks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assessments_marks` (
  `assessment_marks_id` int NOT NULL AUTO_INCREMENT,
  `assessment_id` int NOT NULL,
  `student_id` varchar(25) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `department_id` varchar(60) NOT NULL,
  `module_id` varchar(11) NOT NULL,
  `assessment_attempt` varchar(20) NOT NULL,
  `assessment_marks` double NOT NULL,
  `assessment_marks_grade` varchar(80) NOT NULL,
  `assessment_marks_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`assessment_marks_id`,`student_id`),
  KEY `student_id` (`student_id`),
  KEY `assessment_id` (`assessment_id`),
  KEY `module_id` (`module_id`),
  CONSTRAINT `assessment_id_foriegnkey` FOREIGN KEY (`assessment_id`) REFERENCES `assessments` (`assessment_id`),
  CONSTRAINT `assessments_marks_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=83 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `assessments_type`
--

DROP TABLE IF EXISTS `assessments_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assessments_type` (
  `assessment_type_id` int NOT NULL AUTO_INCREMENT,
  `module_id` varchar(11) NOT NULL,
  `course_id` varchar(11) NOT NULL,
  `assessment_name` varchar(50) NOT NULL,
  `assessment_type` varchar(25) NOT NULL,
  `assessment_percentage` varchar(20) NOT NULL,
  `assessment_entered_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`assessment_type_id`),
  KEY `course_id` (`course_id`),
  KEY `module_id` (`module_id`),
  KEY `course_id_2` (`course_id`),
  KEY `course_id_3` (`course_id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `attendance`
--

DROP TABLE IF EXISTS `attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendance` (
  `attendance_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `module_name` varchar(255) NOT NULL,
  `staff_name` varchar(255) NOT NULL,
  `attendance_status` int NOT NULL,
  `date` date NOT NULL,
  PRIMARY KEY (`attendance_id`,`student_id`)
) ENGINE=InnoDB AUTO_INCREMENT=188 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `batch`
--

DROP TABLE IF EXISTS `batch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `batch` (
  `course_id` varchar(255) NOT NULL,
  `batch_id` varchar(10) NOT NULL,
  `academic_year` varchar(9) DEFAULT NULL,
  PRIMARY KEY (`course_id`,`batch_id`),
  KEY `course_id` (`course_id`),
  KEY `academic_year` (`academic_year`),
  CONSTRAINT `academic_year` FOREIGN KEY (`academic_year`) REFERENCES `academic` (`academic_year`),
  CONSTRAINT `course_id` FOREIGN KEY (`course_id`) REFERENCES `course` (`course_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `book_copies`
--

DROP TABLE IF EXISTS `book_copies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `book_copies` (
  `book_serial` varchar(40) NOT NULL,
  `book_id` varchar(40) NOT NULL,
  `date` date NOT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'available',
  `copy_delete` varchar(10) NOT NULL DEFAULT 'notdeleted',
  PRIMARY KEY (`book_serial`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `books`
--

DROP TABLE IF EXISTS `books`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `books` (
  `numbering` int NOT NULL AUTO_INCREMENT,
  `book_id` varchar(40) NOT NULL,
  `name` varchar(100) NOT NULL,
  `author` varchar(100) NOT NULL,
  `publisher` varchar(50) NOT NULL,
  `ISBN` varchar(15) NOT NULL,
  `category` varchar(20) NOT NULL,
  `year` int NOT NULL,
  `cost` double(7,2) NOT NULL,
  `purch_date` date NOT NULL,
  `book_status` varchar(10) NOT NULL DEFAULT 'active',
  PRIMARY KEY (`book_id`),
  UNIQUE KEY `book_id` (`book_id`),
  KEY `numbering` (`numbering`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `chat_group`
--

DROP TABLE IF EXISTS `chat_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_group` (
  `chat_group_name` varchar(100) NOT NULL,
  `chat_group_id` int NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`chat_group_id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `chat_group_member`
--

DROP TABLE IF EXISTS `chat_group_member`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_group_member` (
  `chat_group_member_id` int NOT NULL AUTO_INCREMENT,
  `chat_group_member` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `chat_group_id` int NOT NULL,
  PRIMARY KEY (`chat_group_member_id`),
  KEY `chat_group_id` (`chat_group_id`),
  KEY `chat_group_member` (`chat_group_member`)
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `chat_group_message`
--

DROP TABLE IF EXISTS `chat_group_message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_group_message` (
  `message_id` int NOT NULL AUTO_INCREMENT,
  `message` varchar(255) NOT NULL,
  `message_time` timestamp(5) NOT NULL DEFAULT CURRENT_TIMESTAMP(5),
  `chat_group_sender` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `chat_group_reciver_group_id` int NOT NULL,
  PRIMARY KEY (`message_id`),
  KEY `chat_group_reciver_group_id` (`chat_group_reciver_group_id`),
  KEY `chat_group_sender` (`chat_group_sender`)
) ENGINE=InnoDB AUTO_INCREMENT=376 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `course`
--

DROP TABLE IF EXISTS `course`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `course` (
  `course_id` varchar(11) NOT NULL,
  `course_name` varchar(255) NOT NULL,
  `course_nvq_level` enum('6','3','4','5','BRI') NOT NULL,
  `course_ojt_duration` int NOT NULL,
  `course_institute_training` int NOT NULL,
  `department_id` varchar(6) NOT NULL,
  PRIMARY KEY (`course_id`),
  KEY `department_id` (`department_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `COURSE_DELETE` BEFORE DELETE ON `course` FOR EACH ROW begin 

 declare auser varchar(15);

 select user() into auser;

 insert into course_delete_tracking(user_name,course_id,course_name,system_date) values (auser,old.course_id,old.course_name,sysdate());

 end */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `course_delete_tracking`
--

DROP TABLE IF EXISTS `course_delete_tracking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `course_delete_tracking` (
  `user_name` varchar(255) NOT NULL,
  `course_id` varchar(11) NOT NULL,
  `course_name` varchar(255) NOT NULL,
  `system_date` date NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `delete_feedback_survey`
--

DROP TABLE IF EXISTS `delete_feedback_survey`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `delete_feedback_survey` (
  `survey_id` int NOT NULL,
  `department_id` varchar(6) NOT NULL,
  `academic_year` varchar(11) NOT NULL,
  `course_id` varchar(11) NOT NULL,
  `module_id` varchar(11) NOT NULL,
  `staff_id` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  PRIMARY KEY (`survey_id`),
  KEY `department_id` (`department_id`),
  KEY `academic_year` (`academic_year`),
  KEY `course_id` (`course_id`),
  KEY `module_id` (`module_id`),
  KEY `staff_id` (`staff_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `department`
--

DROP TABLE IF EXISTS `department`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `department` (
  `department_id` varchar(6) NOT NULL,
  `department_name` varchar(60) NOT NULL,
  PRIMARY KEY (`department_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `donation`
--

DROP TABLE IF EXISTS `donation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `donation` (
  `donation_id` int NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `programme` varchar(50) NOT NULL,
  PRIMARY KEY (`donation_id`),
  UNIQUE KEY `donation_id` (`donation_id`),
  UNIQUE KEY `donation_id_2` (`donation_id`),
  UNIQUE KEY `donation_id_3` (`donation_id`),
  UNIQUE KEY `donation_id_4` (`donation_id`)
) ENGINE=InnoDB AUTO_INCREMENT=98 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `donor`
--

DROP TABLE IF EXISTS `donor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `donor` (
  `d_id` int NOT NULL AUTO_INCREMENT,
  `address` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `dob` date NOT NULL,
  `blood_group` varchar(3) NOT NULL,
  `designation` varchar(10) NOT NULL,
  `joint_date` date NOT NULL,
  `gender` varchar(10) NOT NULL,
  `weight` varchar(10) NOT NULL,
  `reference_id` varchar(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `fullname` varchar(50) NOT NULL,
  PRIMARY KEY (`d_id`),
  KEY `reference_id` (`reference_id`),
  KEY `reference_id_2` (`reference_id`)
) ENGINE=InnoDB AUTO_INCREMENT=150 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `event_delete`
--

DROP TABLE IF EXISTS `event_delete`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `event_delete` (
  `dbuser` varchar(50) NOT NULL,
  `event_id` int NOT NULL,
  `event_name` varchar(255) NOT NULL,
  `event_venue` varchar(255) NOT NULL,
  `event_date` date NOT NULL,
  `event_chief_guest` varchar(30) NOT NULL,
  `event_comment` text NOT NULL,
  `event_time` time NOT NULL,
  `event_docs_url` varchar(30) NOT NULL,
  `status` varchar(20) NOT NULL,
  `systemdate` date NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `feedback`
--

DROP TABLE IF EXISTS `feedback`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feedback` (
  `feedback_id` int NOT NULL AUTO_INCREMENT,
  `feedback_q1` tinyint(1) NOT NULL,
  `feedback_q2` tinyint(1) NOT NULL,
  `feedback_q3` tinyint(1) NOT NULL,
  `feedback_q4` tinyint(1) NOT NULL,
  `feedback_q5` tinyint(1) NOT NULL,
  `feedback_q6` tinyint(1) NOT NULL,
  `feedback_q7` tinyint(1) NOT NULL,
  `feedback_q8` tinyint(1) NOT NULL,
  `feedback_q9` tinyint(1) NOT NULL,
  `feedback_q10` tinyint(1) NOT NULL,
  `feedback_q11` tinyint(1) NOT NULL,
  `feedback_q12` tinyint(1) NOT NULL,
  `feedback_q13` tinyint(1) NOT NULL,
  `feedback_q14` tinyint(1) NOT NULL,
  `feedback_q15` tinyint(1) NOT NULL,
  `feedback_q16` tinyint(1) NOT NULL,
  `feedback_q17` tinyint(1) NOT NULL,
  `feedback_q18` tinyint(1) NOT NULL,
  `feedback_commond` text NOT NULL,
  `survey_id` int NOT NULL,
  PRIMARY KEY (`feedback_id`),
  KEY `survey_id` (`survey_id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `feedback_done`
--

DROP TABLE IF EXISTS `feedback_done`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feedback_done` (
  `survey_id` int NOT NULL,
  `student_id` varchar(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `s_date` date NOT NULL,
  `s_time` time NOT NULL,
  PRIMARY KEY (`survey_id`,`student_id`),
  KEY `student_id` (`student_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `feedback_survey`
--

DROP TABLE IF EXISTS `feedback_survey`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feedback_survey` (
  `survey_id` int NOT NULL AUTO_INCREMENT,
  `department_id` varchar(6) NOT NULL,
  `academic_year` varchar(11) NOT NULL,
  `course_id` varchar(11) NOT NULL,
  `module_id` varchar(11) NOT NULL,
  `staff_id` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  PRIMARY KEY (`survey_id`),
  KEY `staff_id` (`staff_id`),
  KEY `feedback_survey_ibfk_3` (`course_id`),
  KEY `feedback_survey_ibfk_4` (`module_id`),
  KEY `feedback_survey_ibfk_1` (`department_id`),
  KEY `feedback_survey_ibfk_2` (`academic_year`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `delete_feedback_survey` AFTER DELETE ON `feedback_survey` FOR EACH ROW BEGIN

INSERT INTO `delete_feedback_survey` (`survey_id`, `department_id`, `academic_year`, `course_id`, `module_id`, `staff_id`, `start_date`, `end_date`) VALUES (old.survey_id, old.department_id, old.academic_year, old.course_id, old.module_id, old.staff_id, old.start_date, old.end_date);

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `food`
--

DROP TABLE IF EXISTS `food`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `food` (
  `food_id` varchar(11) NOT NULL,
  `food_name` varchar(20) NOT NULL,
  `food_unit_qty` int NOT NULL,
  `food_unit_price` double(5,2) NOT NULL,
  `food_measurements` varchar(20) NOT NULL,
  `available_time` varchar(20) NOT NULL,
  `food_img` varchar(50) NOT NULL DEFAULT 'food.png',
  PRIMARY KEY (`food_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `food_order`
--

DROP TABLE IF EXISTS `food_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `food_order` (
  `food_order_id` int NOT NULL AUTO_INCREMENT,
  `food_order_user_name` varchar(64) NOT NULL,
  `food_order_date_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `food_order_status` varchar(20) NOT NULL,
  PRIMARY KEY (`food_order_id`),
  KEY `user_id` (`food_order_user_name`)
) ENGINE=InnoDB AUTO_INCREMENT=388 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `food_order_details`
--

DROP TABLE IF EXISTS `food_order_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `food_order_details` (
  `food_order_details_food_order_id` int NOT NULL,
  `food_order_details_food_id` varchar(11) NOT NULL,
  `food_order_details_food_qty` double NOT NULL,
  `food_order_details_unit_price` double NOT NULL,
  PRIMARY KEY (`food_order_details_food_order_id`,`food_order_details_food_id`),
  KEY `food_order_id` (`food_order_details_food_order_id`),
  KEY `food_id` (`food_order_details_food_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `hostel_student_details`
--

DROP TABLE IF EXISTS `hostel_student_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hostel_student_details` (
  `hosttler_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `department_id` varchar(255) NOT NULL,
  `distance` varchar(50) NOT NULL,
  `block_no` varchar(20) NOT NULL,
  `room_no` varchar(20) NOT NULL,
  `date_of_addmission` date NOT NULL,
  `date_of_leaving` date NOT NULL,
  PRIMARY KEY (`hosttler_id`),
  UNIQUE KEY `student_id` (`student_id`),
  UNIQUE KEY `student_id_2` (`student_id`),
  UNIQUE KEY `student_id_3` (`student_id`),
  KEY `department_name` (`department_id`)
) ENGINE=InnoDB AUTO_INCREMENT=93 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `inventory`
--

DROP TABLE IF EXISTS `inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory` (
  `inventory_id` int NOT NULL AUTO_INCREMENT,
  `inventory_department_id` varchar(60) NOT NULL,
  `item_id` varchar(50) NOT NULL,
  `inventory_status` varchar(50) NOT NULL,
  `inventory_quantity` varchar(50) NOT NULL,
  PRIMARY KEY (`inventory_id`),
  UNIQUE KEY `department_id` (`inventory_department_id`),
  KEY `itemid` (`item_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `inventory_item`
--

DROP TABLE IF EXISTS `inventory_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory_item` (
  `item_id` varchar(50) NOT NULL,
  `supplier_id` varchar(30) NOT NULL,
  `inventory_item_purchase` date NOT NULL,
  `inventory_item_warranty` date NOT NULL,
  `inventory_item_description` varchar(255) NOT NULL,
  `item_code` varchar(20) NOT NULL,
  PRIMARY KEY (`item_id`),
  KEY `supplier_id` (`supplier_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `inventory_item_supplier`
--

DROP TABLE IF EXISTS `inventory_item_supplier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory_item_supplier` (
  `supplier_id` varchar(30) NOT NULL,
  `supplier_name` varchar(255) NOT NULL,
  `supplier_phone_number` varchar(20) NOT NULL,
  `supplier_email` varchar(255) NOT NULL,
  `supplier_address` varchar(255) NOT NULL,
  PRIMARY KEY (`supplier_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `issued_books`
--

DROP TABLE IF EXISTS `issued_books`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `issued_books` (
  `record_id` int NOT NULL AUTO_INCREMENT,
  `member_id` varchar(20) NOT NULL,
  `book_serial` varchar(40) NOT NULL,
  `issued_date` date NOT NULL,
  `issued_time` time NOT NULL,
  `returned_date` date DEFAULT NULL,
  `returned_time` time DEFAULT NULL,
  `fine_reson` varchar(100) DEFAULT NULL,
  `fine` double(7,2) DEFAULT NULL,
  PRIMARY KEY (`record_id`)
) ENGINE=MyISAM AUTO_INCREMENT=57 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `copy_status_update` AFTER DELETE ON `issued_books` FOR EACH ROW BEGIN

UPDATE book_copies

SET `status`='available'

WHERE `book_serial`=old.book_serial;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `issued_books_deleted` AFTER DELETE ON `issued_books` FOR EACH ROW BEGIN

INSERT INTO `issued_books_deleted` (`record_id`, `member_id`, `book_serial`, `issued_date`, `issued_time`, `returned_date`, `returned_time`, `fine_reson`, `fine`) VALUES (old.record_id, old.member_id, old.book_serial, old.issued_date, old.issued_time, old.returned_date, old.returned_time, old.fine_reson, old.fine);

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `issued_books_deleted`
--

DROP TABLE IF EXISTS `issued_books_deleted`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `issued_books_deleted` (
  `record_id` int NOT NULL,
  `member_id` varchar(20) NOT NULL,
  `book_serial` varchar(40) NOT NULL,
  `issued_date` date NOT NULL,
  `issued_time` time NOT NULL,
  `returned_date` date DEFAULT NULL,
  `returned_time` time DEFAULT NULL,
  `fine_reson` varchar(100) DEFAULT NULL,
  `fine` double(7,2) DEFAULT NULL,
  PRIMARY KEY (`record_id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `manage_final_place`
--

DROP TABLE IF EXISTS `manage_final_place`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manage_final_place` (
  `student_id` varchar(25) NOT NULL,
  `student_name` varchar(50) NOT NULL,
  `department_name` varchar(50) NOT NULL,
  `requested_place` varchar(100) NOT NULL,
  `requested_address` varchar(200) NOT NULL,
  `requested_district1` varchar(50) NOT NULL,
  `requested_district2` varchar(50) NOT NULL,
  `comment_1` varchar(500) NOT NULL,
  PRIMARY KEY (`student_id`),
  KEY `student_id` (`student_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `module`
--

DROP TABLE IF EXISTS `module`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `module` (
  `module_id` varchar(11) NOT NULL,
  `module_name` varchar(255) NOT NULL,
  `module_aim` varchar(255) NOT NULL,
  `module_learning_hours` int NOT NULL,
  `module_resources` varchar(255) NOT NULL,
  `module_learning_outcomes` varchar(255) NOT NULL,
  `semester_id` enum('1','2') NOT NULL,
  `module_reference` varchar(255) NOT NULL,
  `module_relative_unit` varchar(255) NOT NULL,
  `module_lecture_hours` int NOT NULL,
  `module_practical_hours` int NOT NULL,
  `module_self_study_hours` int NOT NULL,
  `course_id` varchar(11) NOT NULL,
  PRIMARY KEY (`module_id`,`course_id`),
  KEY `course_id` (`course_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `notice_event`
--

DROP TABLE IF EXISTS `notice_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notice_event` (
  `event_id` int NOT NULL AUTO_INCREMENT,
  `event_name` varchar(255) NOT NULL,
  `event_venue` varchar(255) NOT NULL,
  `event_date` date NOT NULL,
  `event_chief_guest` varchar(30) NOT NULL,
  `event_comment` text NOT NULL,
  `event_time` time NOT NULL,
  `event_docs_url` varchar(30) NOT NULL DEFAULT 'sample.png',
  `status` varchar(20) NOT NULL,
  PRIMARY KEY (`event_id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `event_delete` BEFORE DELETE ON `notice_event` FOR EACH ROW BEGIN

 DECLARE auser varchar(40);

 SELECT user() INTO auser;

 INSERT into 

 event_delete(dbuser,event_id,event_name,event_venue,event_date,event_chief_guest,event_comment,event_time,event_docs_url,systemdate)VALUES(auser,old.event_id,old.event_name,old.event_venue,old.event_date,old.event_chief_guest,old.event_comment,old.event_time,old.event_docs_url,sysdate());END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `notice_event_stutas`
--

DROP TABLE IF EXISTS `notice_event_stutas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notice_event_stutas` (
  `status` varchar(30) NOT NULL,
  `id` int NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=5 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `notice_result`
--

DROP TABLE IF EXISTS `notice_result`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notice_result` (
  `result_id` int NOT NULL AUTO_INCREMENT,
  `department_id` varchar(6) NOT NULL,
  `academic_year` varchar(11) NOT NULL,
  `course_id` varchar(11) NOT NULL,
  `module_id` varchar(11) NOT NULL,
  `upload` varchar(30) NOT NULL DEFAULT 'sample.pdf',
  PRIMARY KEY (`result_id`),
  KEY `department_id` (`department_id`),
  KEY `academic_year` (`academic_year`),
  KEY `course_id` (`course_id`),
  KEY `module_id` (`module_id`)
) ENGINE=InnoDB AUTO_INCREMENT=197 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `off_peak`
--

DROP TABLE IF EXISTS `off_peak`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `off_peak` (
  `student_id` varchar(255) NOT NULL,
  `name_of_applicant` varchar(50) NOT NULL,
  `department` varchar(30) NOT NULL,
  `contact_no` int NOT NULL,
  `date` date NOT NULL,
  `time` time NOT NULL,
  `reson_for_exit` varchar(255) NOT NULL,
  `warden's_comment` varchar(255) NOT NULL,
  `status` varchar(30) NOT NULL,
  PRIMARY KEY (`student_id`,`date`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ojt`
--

DROP TABLE IF EXISTS `ojt`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ojt` (
  `student_id` varchar(25) NOT NULL,
  `student_name` varchar(50) NOT NULL,
  `phone_no` int NOT NULL,
  `e_mail` varchar(50) NOT NULL,
  `department_name` varchar(50) NOT NULL,
  `requested_place` varchar(100) NOT NULL,
  `requested_address` varchar(200) NOT NULL,
  `requested_district1` varchar(50) NOT NULL,
  `requested_district2` varchar(50) NOT NULL,
  `final_place` varchar(100) NOT NULL,
  `final_address` varchar(200) NOT NULL,
  `want_salary` varchar(3) NOT NULL,
  `comment_1` varchar(500) NOT NULL,
  `starting` date NOT NULL,
  `ending` date NOT NULL,
  PRIMARY KEY (`student_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `USER_CREATION_OJT` AFTER INSERT ON `ojt` FOR EACH ROW BEGIN

INSERT INTO manage_final_place SET

manage_final_place.student_id = NEW.student_id,

manage_final_place.student_name = NEW.student_name,

manage_final_place.department_name = NEW.department_name,

manage_final_place.requested_place = NEW.requested_place,

manage_final_place.requested_address = NEW.requested_address,

manage_final_place.requested_district1 = NEW.requested_district1,

manage_final_place.requested_district2 = NEW.requested_district2,

manage_final_place.comment_1 = NEW.comment_1;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `USER_DELETE_OJT` BEFORE DELETE ON `ojt` FOR EACH ROW begin 

 declare auser varchar(15);

 select user() into auser;

 insert into ojt_delete_details(dbuser,student_id,student_name,systemdate) values (auser,old.student_id,old.student_name,sysdate());

 end */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `ojt_delete_details`
--

DROP TABLE IF EXISTS `ojt_delete_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ojt_delete_details` (
  `dbuser` varchar(100) NOT NULL,
  `student_id` varchar(25) NOT NULL,
  `student_name` varchar(50) NOT NULL,
  `systemdate` date NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `onpeak_delete_details`
--

DROP TABLE IF EXISTS `onpeak_delete_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `onpeak_delete_details` (
  `dbuser` varchar(50) NOT NULL,
  `student_id` varchar(20) NOT NULL,
  `department_id` varchar(6) NOT NULL,
  `reason` varchar(20) NOT NULL,
  `exit_date` date NOT NULL,
  `request_date_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `systemdate` date NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `onpeak_request`
--

DROP TABLE IF EXISTS `onpeak_request`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `onpeak_request` (
  `id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `department_id` varchar(6) NOT NULL,
  `contact_no` int NOT NULL,
  `reason` varchar(20) NOT NULL,
  `exit_date` date NOT NULL,
  `exit_time` time NOT NULL,
  `return_date` date NOT NULL,
  `return_time` time NOT NULL,
  `comment` text NOT NULL,
  `onpeak_request_status` enum('Approved','Pending','Not Approved') DEFAULT 'Pending',
  `request_date_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`,`exit_date`),
  KEY `student_id` (`student_id`),
  KEY `onpeak_request_ibfk_1` (`department_id`)
) ENGINE=InnoDB AUTO_INCREMENT=107 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `USER_DELETE_ONPEAK` BEFORE DELETE ON `onpeak_request` FOR EACH ROW begin 

 declare auser varchar(15);

 select user() into auser;

 insert into onpeak_delete_details(dbuser,student_id,department_id,reason,exit_date,request_date_time,systemdate) values (auser,old.student_id,old.department_id,old.reason,old.exit_date,old.request_date_time,sysdate());

 end */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `payment`
--

DROP TABLE IF EXISTS `payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment` (
  `payment_reason` varchar(50) NOT NULL,
  `payment_type` varchar(100) NOT NULL,
  PRIMARY KEY (`payment_reason`,`payment_type`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pays`
--

DROP TABLE IF EXISTS `pays`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pays` (
  `pays_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(25) NOT NULL,
  `payment_type` varchar(100) NOT NULL,
  `payment_reason` varchar(50) NOT NULL,
  `pays_note` varchar(100) NOT NULL,
  `pays_amount` double(8,2) NOT NULL,
  `pays_qty` int NOT NULL,
  `pays_date` date NOT NULL,
  `pays_department` varchar(20) NOT NULL,
  PRIMARY KEY (`pays_id`),
  KEY `payment_id` (`payment_reason`),
  KEY `student_id` (`student_id`),
  KEY `payment_id_2` (`payment_reason`),
  KEY `payment_type` (`payment_type`),
  KEY `payment_type_2` (`payment_type`)
) ENGINE=InnoDB AUTO_INCREMENT=168 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `precreated_users`
--

DROP TABLE IF EXISTS `precreated_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `precreated_users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(64) NOT NULL,
  `email` varchar(254) DEFAULT NULL,
  `full_name` varchar(100) DEFAULT NULL,
  `department` varchar(100) DEFAULT NULL,
  `position` varchar(100) DEFAULT NULL,
  `phone_no` varchar(20) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `is_used` tinyint(1) NOT NULL DEFAULT '0',
  `used_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `staff`
--

DROP TABLE IF EXISTS `staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff` (
  `staff_id` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `department_id` varchar(6) NOT NULL,
  `staff_name` varchar(50) NOT NULL,
  `staff_address` varchar(50) NOT NULL,
  `staff_dob` date NOT NULL,
  `staff_nic` varchar(15) NOT NULL,
  `staff_email` varchar(254) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `staff_pno` int NOT NULL,
  `staff_date_of_join` date NOT NULL,
  `staff_gender` enum('Male','Female','Transgender') NOT NULL,
  `staff_epf` varchar(20) NOT NULL,
  `staff_position` varchar(80) NOT NULL,
  `staff_type` enum('Permanent','On Contract','Visiting Lecturer') NOT NULL,
  `staff_status` enum('Working','Terminated','Resigned') DEFAULT NULL,
  PRIMARY KEY (`staff_id`),
  UNIQUE KEY `staff_nic` (`staff_nic`),
  UNIQUE KEY `staff_epf_no` (`staff_epf`),
  UNIQUE KEY `staff_email` (`staff_email`),
  KEY `department_id` (`department_id`),
  KEY `staff_position` (`staff_position`),
  KEY `staff_id` (`staff_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `USER_CREATION_STAFF` BEFORE INSERT ON `staff` FOR EACH ROW INSERT INTO user SET

user.user_table = 'staff',

user.staff_position_type_id = NEW.staff_position,

user.user_name = NEW.staff_id,

user.user_email = NEW.staff_email */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `USER_EMAIL_UPDATE_STAFF` BEFORE UPDATE ON `staff` FOR EACH ROW UPDATE user SET 

user.user_email = NEW.staff_email

WHERE user.user_name = NEW.staff_id */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `USER_POSITION_UPDATE_STAFF` BEFORE UPDATE ON `staff` FOR EACH ROW UPDATE user SET 

user.staff_position_type_id = NEW.staff_position

WHERE user.user_name = NEW.staff_id */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `USER_NAME_UPDATE_STAFF` AFTER UPDATE ON `staff` FOR EACH ROW UPDATE user SET 

user.user_name = NEW.staff_id

WHERE user.user_name = OLD.staff_id */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `USER_DELETE_STAFF` BEFORE DELETE ON `staff` FOR EACH ROW DELETE FROM user WHERE user.user_name = OLD.staff_id */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `staff_module_enrollment`
--

DROP TABLE IF EXISTS `staff_module_enrollment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff_module_enrollment` (
  `staff_module_enrollment_id` int NOT NULL AUTO_INCREMENT,
  `staff_id` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `course_id` varchar(11) NOT NULL,
  `module_id` varchar(11) NOT NULL,
  `academic_year` varchar(10) NOT NULL,
  `staff_module_enrollment_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`staff_module_enrollment_id`),
  KEY `staff_id` (`staff_id`),
  KEY `course_id` (`course_id`),
  KEY `academic_year` (`academic_year`),
  KEY `module_id` (`module_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `staff_position`
--

DROP TABLE IF EXISTS `staff_position`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff_position` (
  `staff_position_id` int NOT NULL AUTO_INCREMENT,
  `staff_id` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `staff_position_type_id` varchar(11) NOT NULL,
  `staff_position_start_date` date NOT NULL,
  `staff_position_end_date` date NOT NULL,
  `staff_position_status` enum('Active','Completed') NOT NULL DEFAULT 'Active',
  PRIMARY KEY (`staff_position_id`),
  KEY `staff_position_type_id` (`staff_position_type_id`),
  KEY `staff_id` (`staff_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `staff_position_type`
--

DROP TABLE IF EXISTS `staff_position_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff_position_type` (
  `staff_position_type_id` varchar(11) NOT NULL,
  `staff_position_type_name` varchar(64) NOT NULL,
  `staff_position` tinyint NOT NULL,
  PRIMARY KEY (`staff_position_type_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `student`
--

DROP TABLE IF EXISTS `student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student` (
  `student_id` varchar(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `student_title` varchar(5) NOT NULL,
  `student_fullname` varchar(255) NOT NULL,
  `student_ininame` varchar(255) NOT NULL,
  `student_gender` enum('Male','Female') NOT NULL,
  `student_civil` varchar(10) NOT NULL,
  `student_email` varchar(254) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `student_nic` varchar(12) NOT NULL,
  `student_profile_img` varchar(40) NOT NULL DEFAULT 'img/user.jpg',
  `student_dob` date NOT NULL,
  `student_phone` int NOT NULL,
  `student_address` varchar(255) NOT NULL,
  `student_zip` int NOT NULL,
  `student_district` varchar(20) NOT NULL,
  `student_divisions` varchar(50) NOT NULL,
  `student_provice` varchar(20) NOT NULL,
  `student_blood` varchar(5) NOT NULL,
  `student_em_name` varchar(255) NOT NULL,
  `student_em_address` varchar(255) NOT NULL,
  `student_em_phone` int NOT NULL,
  `student_em_relation` varchar(20) NOT NULL,
  `student_status` varchar(15) NOT NULL,
  PRIMARY KEY (`student_id`),
  UNIQUE KEY `student_nic` (`student_nic`),
  UNIQUE KEY `student_email` (`student_email`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `USER_CREATION_STUDENT` BEFORE INSERT ON `student` FOR EACH ROW INSERT INTO user SET

user.user_table = 'student',

user.staff_position_type_id = 'STU',

user.user_name = NEW.student_id,

user.user_email = NEW.student_email */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `USER_EMAIL_UPDATE_SUDENT` BEFORE UPDATE ON `student` FOR EACH ROW UPDATE user SET 

user.user_email = NEW.student_email

WHERE user.user_name = NEW.student_id */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `USER_NAME_UPDATE_STUDENT` AFTER UPDATE ON `student` FOR EACH ROW UPDATE user SET 

user.user_name = NEW.student_id

WHERE user.user_name = OLD.student_id */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `USER_DELETE_STUDENT` BEFORE DELETE ON `student` FOR EACH ROW DELETE FROM user WHERE user.user_name = OLD.student_id */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `student_enroll`
--

DROP TABLE IF EXISTS `student_enroll`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_enroll` (
  `student_id` varchar(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `course_id` varchar(11) NOT NULL,
  `course_mode` enum('Part','Full') NOT NULL,
  `academic_year` varchar(11) NOT NULL,
  `student_enroll_date` date NOT NULL,
  `student_enroll_exit_date` date NOT NULL,
  `student_enroll_status` enum('Following','Dropout','Completed','Long Absent') NOT NULL DEFAULT 'Following',
  PRIMARY KEY (`student_id`,`course_id`,`academic_year`),
  KEY `course_id` (`course_id`),
  KEY `enroll_student_id` (`student_id`),
  KEY `student_enroll_ibfk_3` (`academic_year`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `student_status` AFTER UPDATE ON `student_enroll` FOR EACH ROW UPDATE student SET 

student.student_status = 'Inactive'

WHERE student_enroll.student_enroll_status = 'Long Absent' OR student_enroll.student_enroll_status = 'Dropout' AND student.student_id=student_enroll.student_id */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `student_qualification`
--

DROP TABLE IF EXISTS `student_qualification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_qualification` (
  `qualification_student_id` varchar(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `qualification_type` enum('NVQ3','NVQ4','NVQ5','G.C.EO/L','G.C.EA/L') NOT NULL,
  `qualification_index_no` varchar(30) NOT NULL,
  `qualification_year` int NOT NULL,
  `qualification_description` varchar(255) NOT NULL,
  `qualification_results` varchar(100) NOT NULL,
  PRIMARY KEY (`qualification_student_id`,`qualification_index_no`,`qualification_description`),
  KEY `qualification_student_id` (`qualification_student_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `timetable`
--

DROP TABLE IF EXISTS `timetable`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `timetable` (
  `time_id` int NOT NULL AUTO_INCREMENT,
  `department_id` varchar(64) NOT NULL,
  `course_id` varchar(64) NOT NULL,
  `module_id` varchar(64) NOT NULL,
  `academic_year` varchar(64) NOT NULL,
  `staff_id` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `weekdays` enum('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday') NOT NULL,
  `timep` enum('P1','P2','P3','P4') NOT NULL,
  `classroom` varchar(67) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  PRIMARY KEY (`time_id`),
  KEY `department_id` (`department_id`),
  KEY `course_id` (`course_id`),
  KEY `module_id` (`module_id`),
  KEY `academic_year` (`academic_year`),
  KEY `staff_id` (`staff_id`)
) ENGINE=InnoDB AUTO_INCREMENT=381 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `user_id` int NOT NULL AUTO_INCREMENT COMMENT 'auto incrementing user_id of each user, unique index',
  `user_table` enum('student','staff') CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL DEFAULT 'student',
  `staff_position_type_id` varchar(11) CHARACTER SET latin1 COLLATE latin1_swedish_ci DEFAULT NULL,
  `session_id` varchar(48) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL COMMENT 'stores session cookie id to prevent session concurrency',
  `user_name` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL COMMENT 'user''s name, unique',
  `user_password_hash` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL COMMENT 'user''s password in salted and hashed format',
  `user_email` varchar(254) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL COMMENT 'user''s email, unique',
  `user_active` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'user''s activation status',
  `user_deleted` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'user''s deletion status',
  `user_remember_me_token` varchar(64) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL COMMENT 'user''s remember-me cookie token',
  `user_creation_timestamp` bigint DEFAULT NULL COMMENT 'timestamp of the creation of user''s account',
  `user_suspension_timestamp` bigint DEFAULT NULL COMMENT 'Timestamp till the end of a user suspension',
  `user_last_login_timestamp` bigint DEFAULT NULL COMMENT 'timestamp of user''s last login',
  `user_failed_logins` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'user''s failed login attempts',
  `user_last_failed_login` int DEFAULT NULL COMMENT 'unix timestamp of last failed login attempt',
  `user_activation_hash` varchar(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL COMMENT 'user''s email verification hash string',
  `user_password_reset_hash` char(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL COMMENT 'user''s password reset code',
  `user_password_reset_timestamp` bigint DEFAULT NULL COMMENT 'timestamp of the password reset request',
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `user_name` (`user_name`),
  UNIQUE KEY `user_email` (`user_email`),
  KEY `user_name_2` (`user_name`),
  KEY `staff_position_type_id` (`staff_position_type_id`)
) ENGINE=InnoDB AUTO_INCREMENT=92 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci COMMENT='user data';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user_permissions`
--

DROP TABLE IF EXISTS `user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_permissions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `permission_name` varchar(50) NOT NULL,
  `is_allowed` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_permission` (`username`,`permission_name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-11 22:30:35
